/* 13 - add sayfa dizaynı */

.list {
    color: #fff;
    width: 30rem;
    background-color: #bf07ac;
    height: 5rem;
    margin: 2rem auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.list p {
    padding: 1rem;
}