/* 13 Add css coded for list area design. */

.list {
    color: #fff;
    width: 55rem;
    background-color: #bf07ac;
    height: 5.2rem;
    margin: 2rem auto;
    border-radius: 5px;
    visibility: display;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

p {
    display: inline;
    padding: 1.5rem;
    float: left;

}

span {
    display: inline;
    cursor: pointer;
    padding: 2rem 1.5rem;
}

.faicons {
    font-size: 24px;
    float:right;
    vertical-align: center;
}

.editInput {
    width: 750px;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
}

.editInput:focus {
    outline: none;
}