/**************************** HTML ATTR **************************/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Ubuntu', sans-serif;

}

html {
  box-sizing: border-box;
  height: auto;
}

body {
  font-size: 2rem;
}

/**************************** Your Custom Css Codes **************************/

.todo-container {
  margin:auto;
  padding: auto;
  display: flex;
  max-width: 60rem;
  height: 99vh;
  background-color: #46235F;
  justify-content: center;
}

.todo-body {
  width: 100%
}


.todo-h1 {
  padding: 2rem;
  text-align: center;
  color: #ffffff;
}

#todo-form input {
  background-color: #00678A;
  font-size: 2rem;
  color: #ffffff;
  border: 0;
  width: 40rem;
  height: 5rem;
  padding: 0 2rem;
  margin: 2rem 2rem 2rem 2.5rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#todo-form input:focus #todo-form button:focus  {
  /* outline: none; */
}

#todo-form input::placeholder {
  color: #ffffff;
}

#todo-form button {
  background-color: #DA9B17;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2rem;
  color: #ffffff;
  height: 4.8rem;
  width: 13rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}